<h1>Something here</h1>

<input type="text" name="name" value="Search for an artist" id="artistInput">
<input type="button" name="name" value="Search" id="makePlaylist">
<div class="currentArtist"></div>
