{{#if profile}}
  Logged in as
  {{profile.displayName}}
  <a href='/signout'>Log Out</a>
  {{else}}
  <a href='/auth/spotify'>Log in with Spotify</a>
{{/if}}
<h1>Something here</h1>
<div class="leftInput">
<input type="text" name="name" value="Playlist name" id="listName">
<input type="text" name="name" value="Search for artists (max 5)" id="artistInput">
<input type="text" name="name" value="How many songs?" id="songCount">
<input type="button" name="name" value="Search" id="makePlaylist">
<div class="currentArtist"></div>
</div>

<div class="accordion">
    <input type="button" name="name" value="Get Artist Info" class = "tweets" id="makePlaylist">
    <input type="text" name="name" value="Artist name" class="tweets">
    <div class="tweets"></div>
    <div class="concerts"></div>
</div>
