
  <div class="module">
    <h1 class="main-title">Playlistr</h1>
  </div>

<div class="column column-12">
  <div class="column column-6">
    <div class="module">
        <h2>Enter a playlist name, up to 5 artists and any number of songs (up to 100) for your sweet mix</h2>
        <form class="playlistForm" action="/playlists" method="post">
            <input type="text" name="name" placeholder="Search for artists (max 5)" id="artistInput">
            <input type="text" name="name" placeholder="Playlist name" id="listName">
            <input type="text" name="name" placeholder="How many songs?" id="songCount">
            <br>
            <input type="button" name="name" value="Search" id="makePlaylist">
            <input type='button' id='save' value='save'></input>
        </form>
      <div class="currentArtist"></div>
    </div>
  </div>

  <div class="column column-6">
      <div class=" rightColumn module">
        <h2>Hear something you like? Enter the artist's name to learn more.</h2>
        <input type="text" name="name" placeholder="Artist name" class="getArtistInfo">
        <br>
        <input type="button" name="name" value="Get Artist Info" id="makeArtistInfo">
        <div class="artistInfo">
            <div class="biographyTitle accordionTitle"><h1>Biography</h1></div>
            <div class="biography"></div>
            <div class="tweetsTitle accordionTitle"><h1>Twitter</h1></div>
            <div class="tweets"></div>
            <div class="instagramTitle accordionTitle"><h1>Instagram</div>
            <div class="instagram"></div>
            <div class="newsTitle accordionTitle"><h1>News</h1></div>
            <div class="news"></div>
            <div class="concertsTitle accordionTitle"><h1>Concerts</h1></div>
            <div class="concerts"></div>
        </div>
      </div>
  </div>

<div class="row footer">
  <div class="column column-12">

      Take me down to 34th street where The Disco Biscuits are the king of the beat

  </div>
</div>
