
<div class="row header">
  <div class="column column-3">
      {{#if user}}
        Logged in as
        {{user.spotifyId}}
        <a href='/signout'>Log Out</a>
      {{else}}
        <a href='/auth/spotify'>Log in with Spotify</a>
        <a href='/signout'>Log Out</a>
      {{/if}}
  </div>
</div>

<div class="row header">
  <div class="module">
    <h1>Welcome to Playlistr</h1>
    <h1>Please input your playlist name, artists and number of songs for your sweet mix</h1>
  </div>
</div>

<div class="column column-12">
  <div class="column column-6">
    <div class="module">
        <input type="text" name="name" placeholder="Search for artists (max 5)" id="artistInput">
        <input type="text" name="name" placeholder="Playlist name" id="listName">
        <input type="text" name="name" placeholder="How many songs?" id="songCount">
        <br>
        <input type="button" name="name" value="Search" id="makePlaylist">
      <div class="currentArtist"></div>
    </div>
  </div>

  <div class="column column-6">
      <div class="module">
        <input type="text" name="name" placeholder="Artist name" class="getArtistInfo">
        <br>
        <input type="button" name="name" value="Get Artist Info" class ="tweets" id="makeArtistInfo">
        <div class="artistInfo">
          <div class="tweets"></div>
          <div class="concerts"></div>
        </div>
      </div>
  </div>

<div class="row footer">
  <div class="column column-12">

      Take me down to 34th street where The Disco Biscuits are the king of the beat

  </div>
</div>
