
  <!-- <div class="module"> -->
    <h1 class="main-title">Playlistr</h1>
  <!-- </div> -->

<div class="column column-12">
  <div class="column column-6">
    <div class="module">
        <h2>Generate a playlist.<br>Enter up to 5 artists, playlist length, and a name.</h2>
        <form class="playlistForm" action="/playlists" method="post">
            <input type="text" name="name" placeholder="Artists (separated by commas)" id="artistInput">
            <input type="text" name="name" placeholder="Length" id="songCount">
            <input type="text" name="name" placeholder="Playlist Name" id="listName">
            <br>
            <input type="button" name="name" value="Search" id="makePlaylist">
            <input type='button' id='save' value='Save'></input>
        </form>
      <div class="currentArtist"></div>
    </div>
  </div>

  <div class="column column-6">
      <div class=" rightColumn module">
        <h2>Hear something you like?<br>Enter an artist's name to learn more.</h2>
        <input type="text" name="name" placeholder="Artist Name" class="getArtistInfo">
        <br>
        <input type="button" name="name" value="Search" id="makeArtistInfo">
        <div class="artistInfo">
          </section>
            <section id="twitter">
              <div class="tweets" style="display:none"></div>
              <div class="instagram" style="display:none"></div>
            </section>
            <!-- <section id="instagram"> -->
            <!-- </section> -->
            <section id="bio">
              <div class="biographyTitle accordionTitle"><h1>Biography</h1></div>
              <div class="biography"></div>
            </section>
            <section id="twitter">
              <div class="tweetsTitle accordionTitle"><h1>Twitter</h1></div>
              <div class="tweets" style="display:none"></div>
            </section>
            <section id="instagram">
              <div class="instagramTitle accordionTitle"><h1>Instagram</div>
              <div class="instagram" style="display:none"></div>
            </section>
            <section id="news">
              <div class="newsTitle accordionTitle"><h1>News</h1></div>
              <div class="news" style="display:none"></div>
            </section>
            <section id="concerts">
              <div class="concertsTitle accordionTitle"><h1>Concerts</h1></div>
              <div class="concerts" style="display:none"></div>
            </section>
        </div>
      </div>
  </div>

<div class="row footer">
  <div class="column column-12">

There was something so pleasant about that place   </div>
</div>
