<h1>Something here</h1>

<input type="text" name="name" value="Search for artists (max 5)" id="artistInput">
<input type="text" name="name" value="How many songs?" id="songCount">
<input type="button" name="name" value="Search" id="makePlaylist">
<div class="currentArtist"></div>
