
<div class="row header">
  <div class="module">
    <h1>Welcome to Playlistr</h1>
    <h1>Please input your playlist name, artists and number of songs for your sweet mix</h1>
  </div>
</div>

<div class="column column-12">
  <div class="column column-6">
    <div class="module">
        <form class="playlistForm" action="/playlists" method="post">
            <input type="text" name="name" placeholder="Search for artists (max 5)" id="artistInput">
            <input type="text" name="name" placeholder="Playlist name" id="listName">
            <input type="text" name="name" placeholder="How many songs?" id="songCount">
            <br>
            <input type="button" name="name" value="Search" id="makePlaylist">
            <input type='button' id='save' value='save'></input>
        </form>
      <div class="currentArtist"></div>
    </div>
  </div>

  <div class="column column-6">
      <div class="module">
        <input type="text" name="name" placeholder="Artist name" class="getArtistInfo">
        <br>
        <input type="button" name="name" value="Get Artist Info" id="makeArtistInfo">
          <div class="artistInfo">

              <section id="bio">
                <h3><a href="#bio">Biography</a></h3>
                <div class="biography" style="display:none"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
              </section>
              <section id="twitter">
                <h3><a href="#twitter">Twitter</a></h3>
                <div class="tweets" style="display:none">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
              </section>
              <section id="news">
                <h3><a href="#news">News</a></h3>
                <div class="news" style="display:none">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
              </section>
              <section id="concerts">
                <h3><a href="#concerts">Upcoming Local Shows</a></h3>
                <div class="concerts" style="display:none">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
              </section>
          </div>
      </div>
  </div>

<div class="row footer">
  <div class="column column-12">

      Take me down to 34th street where The Disco Biscuits are the king of the beat

  </div>
</div>
