<!DOCTYPE html>
<html>
    <head>
        <title>Playlistr</title>
        <link rel="stylesheet" href="/style.css">
        <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
   </head>
   <body>
       <div class="row header nav">

         {{#if user}}
           <!-- <p>Logged in as
           {{ spotifyId }}</p> -->
           <a href='/'>Home</a>
           <a href={{url}}>User Profile</a>
           <a href='/signout'>Log Out</a>

           <!-- <p id="profile">User profile</p> -->
           </div>
           {{{body}}}
         {{else}}
           <form action="/auth/spotify">
             <input class="login" type="submit" value="Log in with Spotify">
           </form>
           <!-- <a href='/signout'>Log Out</a> -->
           </div>
         {{/if}}


       <!-- <header><h1>Playlistr</h1></header> -->


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="/js/models/user.js"></script>
      <script src="/js/models/playlist.js"></script>
      <script src="/js/views/userView.js"></script>
      <script src="/js/views/playlistView.js"></script>
      <script src="/js/script.js"></script>

  </body>
</html>
