<!DOCTYPE html>
<html>
    <head>
        <title>Playlistr</title>
        <link rel="stylesheet" href="/style.css">
   </head>
   <body>
       <div class="row header">

         {{#if user}}
           Logged in as
           {{ spotifyId }}
           <a href='/signout'>Log Out</a>
           <a href={{url}}>User profile</a>
           <!-- <p id="profile">User profile</p> -->
           {{{body}}}
         {{else}}
           <a href='/auth/spotify'>Log in with Spotify</a>
           <!-- <a href='/signout'>Log Out</a> -->
         {{/if}}

       </div>
       <!-- <header><h1>Playlistr</h1></header> -->


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
      <script src="/js/models/user.js"></script>
      <script src="/js/models/playlist.js"></script>
      <script src="/js/views/userView.js"></script>
      <script src="/js/views/playlistView.js"></script>
      <script src="/js/script.js"></script>

  </body>
</html>
